<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask Blog Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      {% if current_user.is_authenticated %}
        <h4>{{ current_user.username | title() }}'s Blogs</h4>
      {% else %}
        <h4>All Blogs</h4>
      {% endif %}
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="/addblog">Add Post</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/adduser">Register</a></li>
        {% endif %}
      </ul><br>
      <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div> -->
    </div>

    <div class="col-sm-9">
    
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="row flashes-row">
            <div class="panel-heading">
              <div class="panel-title text-center">
                  <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
              </div>
            </div> 
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>@copywrite Cuelogic 2017</p>
</footer>

</body>
</html>
